  <%- include('header', {title: "Edit Sighting Form", css: "/edit-styles.css"}); %>
   <main>
     
      <h1 class="d-flex justify-content-center sighting-details-title">
        🛸 EDIT SIGHTING 🛸
      </h1>

      <div class="container d-flex justify-content-center container-sightings">
        <div
          class="
            row
            d-flex
            align-items-center
            flex-column
            row-sightings-details
          "
        >
          <div class="sighting-details">
            <form action="/sighting/<%= sighting.index %>?_method=PUT" method="POST">
        <label for="text">Sighting:</label><br />
        <input
          type="text"
          name="text"
          id="text"
          placeholder="Describe Sighting!"
          value="<%= sighting.text %>"
          required
        /><br />
        <label for="date_time">Date & Time:</label><br />
        <input
          type="text"
          name="date_time"
          id="date_time"
          placeholder="DD/MM/YY HH:MM"
          value="<%= sighting.date_time %>"
          required
        /><br />
        <label for="city">City:</label><br />
        <input
          type="text"
          name="city"
          id="city"
          placeholder="City Name"
          value="<%= sighting.city %>"
          required
        /><br /><label for="state">State:</label><br />
        <input
          type="text"
          name="state"
          id="state"
          placeholder="State"
          value="<%= sighting.state %>"
          required
        /><br />
        <label for="shape">Shape:</label><br />
        <input
          type="text"
          name="shape"
          id="shape"
          placeholder="Describe Shape"
          value="<%= sighting.shape %>"
          required
        /><br />
        <label for="duration">Duration:</label><br />
        <input
          type="text"
          name="duration"
          id="duration"
          placeholder="How Long Did You See It?"
          value="<%= sighting.duration %>"
          required
        /><br />
        <label for="summary">Summary:</label><br />
        <input
          type="text"
          name="summary"
          id="summary"
          placeholder="Summarise Encounter!"
          value="<%= sighting.summary %>"
          required
              /><br />
            </div> 
             <div class="w-100 d-flex justify-content-center margin-top-10px bottom-row">
                <input type="submit" value="👽  Submit 👽" class="button" />
              </div>
            </form>
          
        </div>
      </div>
    </main>
  </body>
</html>
