    <%- include('header', {title: "UFO Sightings", css: "/home-styles.css"}); %>
    <main>
      <h1 class="d-flex justify-content-center ufo-sighting-title">
        🛸 UFO SIGHTINGS 🛸
      </h1>
      <div class="filter-city">
        <form action="/">
          <label for="filter"> </label>
          <select name="filter" id="filter">
              <option value="" disabled selected>Filter City</option>
              <% cityArr.forEach( (element) => { %>
              <option value="<%= element %>"><%= element %></option>
              <% }); %>
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
      <div class="container d-flex justify-content-center container-sightings">
        <div class="row d-flex align-items-center flex-column row-sightings">
          <div class="sighting-list-title">Sighting List</div>
          <% array.forEach( (element, index) => { %>
          <div class="sighting-list">
            <a href="/sighting/<%= element %>" class="a-sighting"
              >Sighting <%= index+1 %></a
            >
          </div>
          <% }); %>
        </div>
      </div>
    </main>
  </body>
</html>
