    <%- include('header', {title: `${shape} Shaped UFO'S!`, css: "/shape-list-styles.css"}); %>
    <main>
        <h1 class="d-flex justify-content-center ufo-sighting-title">
        <span style="text-transform: uppercase">
          🛸 SPOTTING OF 🛸</br> 🛸<%= shape %> SHAPED UFO'S!🛸
        </span>
      </h1>
      

      <div class="container d-flex justify-content-center container-sightings">
        <div class="row d-flex align-items-center flex-column row-sightings">
          <div class="sighting-list-title"><%= shape %></div>
          <div class="sighting-list"></div>

          <ol>
            <% array.forEach((element) => { %>
            <a href="/sighting/<%= element %>" class="a-sighting"
              ><li>Sighting <%= Number(element) + 1 %></li></a
            >
            <% }); %>
          </ol>
        </div>
      </div>
    </main>
  </body>
</html>
