    <%- include('header', {title: "UFO Sighting", css: "/sighting-styles.css"}); %>
    <main>
      <h1 class="d-flex justify-content-center sighting-details-title">
        🛸 SIGHTING DETAILS 🛸
      </h1>
      <div class="container d-flex justify-content-center container-sightings">
        <div
          class="
            row
            d-flex
            align-items-center
            flex-column
            row-sightings-details
          "
        >
          <div class="sighting-details">
            <span class="text-details">Sighting:</span></br>   <%= text %></br></br>
            <span class="text-details">Date & Time:</span></br> <%= date_time %></br></br>
            <span class="text-details">City:</span></br> <%= city %></br></br>
            <span class="text-details">State:</span></br> <%= state %></br></br>
            <span class="text-details">Shape:</span></br> <%= shape %></br></br>
            <span class="text-details">Duration:</span></br> <%= duration %></br></br>
            <span class="text-details">Summary:</span></br> <%= summary %></br></br>
          </div>
          <div class="row w-100 d-flex justify-content-around" >
            <div class="col-6 d-flex justify-content-center bottom-col">
              <a href="/sighting/<%= index %>/edit" class="edit-sighting"> Edit Sighting</a>
            </div>
            <div class="col-6 d-flex justify-content-center bottom-col">
              <form action="/sighting/<%= index %>/delete?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="button" />
          </form>
            </div>
          
          </div>
         
        </div>
      </div>
    </main>
    
  </body>
</html>
